{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@Components": "./src/Components",
          "@Utils": "./src/Utils",
          "@Hooks": "./src/Hooks",
          "@Models": "./src/Models",
          "@Services": "./src/Services",
          "@Stores": "./src/Stores"
        }
      }
    ]
  ]
}
