@{
  Layout = "_Layout";
  string[] listItems = new string[] { "элемент 1 списка", "элемент 2 списка" };
}

<div class="container">
  <h1>@ViewData["Text"]</h1>
  <div>
    <h2>Список</h2>
    <ol type="A">
      @{
        foreach (var item in listItems)
        {
          <li>@item</li>
        }
      }
    </ol>
  </div>

  <hr>

  <div>
    <h2>Форма</h2>
    <select asp-items='@ViewData["Lst"] as SelectList'></select>
    <form method="POST">
      <fieldset class="form-group inputs">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="firstCheckbox" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">
            Чек-бокс 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="secondCheckbox" id="secondCheckbox">
          <label class="form-check-label" for="secondCheckbox">
            Чек-бокс 2
          </label>
        </div>
      </fieldset>

      <fieldset class="form-group inputs" id="radioGroup">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radioGroup" id="fisrtRadio" value="option1" checked>
          <label class="form-check-label" for="fisrtRadio">
            Радио-1
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radioGroup" id="secondRadio" value="option2">
          <label class="form-check-label" for="secondRadio">
            Радио-2
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radioGroup" id="thirdRadio" value="option3">
          <label class="form-check-label" for="thirdRadio">
            Радио-3
          </label>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Логин:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="login" id="login" placeholder="Введите имя" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Пароль:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль" required>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </fieldset>

    </form>
  </div>
</div>