@model IEnumerable<CartItem>

@{
  ViewData["Title"] = "Index";
}

<h1>Корзина</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>
        @Html.DisplayNameFor(model => model.Quantity)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          <img src="~/Images/@item.Car.Image" alt="No image" width="100" />
        </td>
        <td>
          @Html.DisplayFor(m=>item.Car.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
          <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Car.Id" class="btn btn-outline-danger">
            Remove
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>