@page "{id:int}"
@model WEB_953506_Kryshtapovich.Areas.Admin.Pages.EditModel

@{
  ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Car.Id" />
      <div class="form-group">
        @if (!string.IsNullOrEmpty(Model.Car.Image))
        {
          <img src=~/Images/@Model.Car.Image alt="NoSuchFile" width="150" />
        }
        else
        {
          <h4>Файл изображения не задан</h4>
        }
        <div class="custom-file mt-3">
          <input type="file" class="custom-file-input" asp-for="Image" id="Image">
          <label class="custom-file-label" for="Image">
            Выберите файл изображения</label>
        </div>

        <div class="form-group">
          <label asp-for="Car.Name" class="control-label"></label>
          <input asp-for="Car.Name" class="form-control" />
          <span asp-validation-for="Car.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Car.Description" class="control-label"></label>
          <input asp-for="Car.Description" class="form-control" />
          <span asp-validation-for="Car.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Car.Price" class="control-label"></label>
          <input asp-for="Car.Price" class="form-control" />
          <span asp-validation-for="Car.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Car.ClassId" class="control-label"></label>
          <input asp-for="Car.ClassId" class="form-control" />
          <span asp-validation-for="Car.ClassId" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
  </div>
</div>

<div>
  <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/bs-custom-file-input.js"></script>
<script>
  bsCustomFileInput.init();
</script>
}
