@import "~styles";

.logo {
  @include flex-block(row);
  align-items: center;
  gap: 0.5rem;

  width: fit-content;

  &__icon {
    @media (max-width: 650px) {
      width: 30px;
      height: 30px;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-family: "Gilroy-Bold";

    @media (max-width: 650px) {
      font-size: 1.875rem;
    }
  }
}
