@import "~styles";

.playlists {
  @include scrollable();
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8% 3%;

  padding: 1.5rem;

  @media (max-width: 1050px) {
    row-gap: calc(4% + 8px);
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 850px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 580px) {
    column-gap: 6%;
    grid-template-columns: 1fr 1fr;
  }
}
