@using Microsoft.AspNetCore.Identity;
@using WEB_953506_Kryshtapovich.Entities;
@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
  @await Component.InvokeAsync("Cart")
  <div class="dropdown ml-4 nav-color">
    <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
      <img img-action="GetAvatar" img-controller="Image" width="30" alt="User" class="rounded bg-light" />
    </div>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item-text">
        <img img-action="GetAvatar" img-controller="Image" width="30" alt="User" class="rounded bg-light" />
        @User.Identity.Name
      </div>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" asp-controller="Cart" asp-action="Index">Корзина</a>
      <a class="dropdown-item" asp-controller="Car" asp-action="UserCars">Мои товары</a>
      <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="@ViewContext.HttpContext.Request.Path">
        <input type="submit" value="Log off" class="dropdown-item" />
      </form>
    </div>
  </div>
}
else
{
  <ul class="nav navbar-nav ml-auto">
    <li><a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">
        Войти
      </a></li>
    <li><a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">
        Зарегистрироваться
      </a></li>
  </ul>
}